/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Caveat */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

@import './public/assets/styles/mui';
@import './public/assets/styles/contact';
@import './public/assets/styles/autocomplete';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --html: #f16529;
    --css: #2862e9;
    --js: #f7df1e;
    --php: #7377ad;
    --node: #73ab60;
    --sass: #f783ac;
    --sql: #f783ac;
    --mongo: #00684a;
    --node: #3eb112;
    --git: #e94e31;
    --swift: #f4993a;
    --discord: #7289DA;
    --skeleton: #4c4c4c;
    --errorRed: #970a0a;
    --cwsError: #ffe2e2;
    --error: var(--cwsError);
    --cwsSuccess: #77ff77;
    --successGreen: #26ae26;
    --success: var(--cwsSuccess);
    --bg: #1f1f1f;
    --posterH: 250px;
    --posterW: 165px;
    --steel: #7a7a7a;
    --react: #0fccce;
    --silver: #f2f2f2;
    --ground: #00b900;
    --borderRadius: 4px;
    --containerWidth: 95%;
    --gameBlue: #00c2ff;
    --softBlack: #1a1a1a;
    --secondary: #3c3c3c;
    --piratechs: #2b4261;
    --softBlack2: #636363;
    --piratechsDark: #10141d;
    --concentration: #58717f;
    --main: rgb(0, 216, 255);
    --gameBlueInverse: #ff3d00;
    // --gameBlueSoft: var(--nextra);
    --authGlass: rgba(0, 0, 0, 0.05);
    --mainTeal: rgba(32, 143, 163, 1);
    --blackGlass: rgba(0, 0, 0, 0.75);
    --silverGlass: rgba(0, 0, 0, 0.35);
    --piratechsBlue: rgba(1, 47, 74, 1);
    --mainGlass: rgba(255, 28, 11, 0.75);
    --alertBG: rgba(113, 113, 113, 0.75);
    --dangerColor: rgba(255, 28, 11, 0.75);
    --softWhite: rgba(255, 255, 255, 0.87);
    --softWhiteT: rgba(255, 255, 255, 0.75);
    --gameBlueSoft: rgba(0, 194, 255, 0.75);
    --nextra: rgba(0, 170, 255, 0.5) !important;
    --menuBackground: var(--blackGlass) !important;
    --softSkyBlue: rgba(132, 169, 177, 1) !important;
    --delayedTransition: cubic-bezier(0.77, 0.2, 0.05, 1);
    --transition: 240ms cubic-bezier(0.77, 0.2, 0.05, 1) !important;
    --shortTransition: 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms !important;
}

h1 {
    font-size: 6em;
    &.heading {
        font-size: 6em !important;
    }
}

h2 {
    font-size: 5em;
     &.heading {
        font-size: 5em !important;
    }
}

h3 {
    font-size: 4em;
     &.heading {
        font-size: 4em !important;
    }
}

h4 {
    font-size: 3em;
     &.heading {
        font-size: 3em !important;
    }
}

h5 {
    font-size: 2em;
     &.heading {
        font-size: 2em !important;
    }
}

h6 {
    font-size: 1em;
     &.heading {
        font-size: 1em !important;
    }
}

.m0 { margin: 0; }
.p0 { padding: 0; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w70 { width: 70%; }
.w85 { width: 85%; }
.w90 { width: 90%; }
.p5 { padding: 5px; }
.m-5 { margin: -5px; }
.w100 { width: 100%; }
.m25 { margin: 25px; }
.m35 { margin: 35px; }
.h100 { height: 100%; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p30 { padding: 30px; }
.p35 { padding: 35px; }
.p5x { padding: 0 5px; }
.p5y { padding: 5px 0; }
.p10y { padding: 10px 0; }
.p15x { padding: 0 15px; }
.p15y { padding: 15px 0; }
.p5b { padding: 0 0 5px; }
.p5t { padding: 5px 0 0; }
.mt-4 { margin-top: -4px; }
.mt-5 { margin-top: -5px; }
.m25t { margin-top: 25px; }
.m35t { margin-top: 35px; }
.m0auto { margin: 0 auto; }
.m10l { margin-left: 10px; }
.mw225 { min-width: 225px; }
.p10b { padding: 0 0 10px; }
.p15b { padding: 0 0 15px; }
.p20b { padding: 0 0 20px; }
.p25b { padding: 0 0 25px; }
.p30b { padding: 0 0 30px; }
.p35b { padding: 0 0 35px; }
.p10t { padding: 10px 0 0; }
.p15t { padding: 15px 0 0; }
.p20t { padding: 20px 0 0; }
.p25t { padding: 25px 0 0; }
.p30t { padding: 30px 0 0; }
.p35t { padding: 35px 0 0; }
.m10r { margin-right: 10px; }
.p5y15x { padding: 5px 15px; }
.p5y20x { padding: 5px 20px; }
.mrauto { margin-right: auto; }
.fit { min-width: fit-content; }
.text-left { text-align: left; }
.bgWhite { background: white; }
.relative { position: relative; }
.absolute { position: absolute; }
.p5nt { padding: 0 5px 5px 5px; }
.p5nb { padding: 5px 5px 0 5px; }
.text-right { text-align: right; }
.maxfit { max-width: fit-content; }
.ttu { text-transform: uppercase; }
.ttl { text-transform: lowercase; }
.ttc { text-transform: capitalize; }
.text-center { text-align: center; }
.p15nb { padding: 15px 15px 0 15px; }
.mt-4 { margin-top: -4px !important; }
.mt-5 { margin-top: -5px !important; }
.accent { color: var(--accentColor); }
.m0Important { margin: 0 !important; }
.p0Important { padding: 0 !important; }
.mainColor { color: var(--mainColor); }
.overflowXHidden { overflow-x: hidden; }
.overflowYHidden { overflow-y: hidden; }
.accentColor { color: var(--accentColor); }
.container { width: var(--containerWidth); }
.mauto { margin-left: auto; margin-right: auto; }
.borderRadius { border-radius: var(--borderRadius); }
.containerL { margin-left: calc(95% - var(--containerWidth)); }
.containerR { margin-right: calc(95% - var(--containerWidth)); }
.cardBorder { border: 5px solid var(--accentColor); border-radius: var(--borderRadius); }

.flex {
    &.gap5 { grid-gap: 5px; }
    &.wrap { flex-wrap: wrap; }
    &.gap10 { grid-gap: 10px; }
    &.gap15 { grid-gap: 15px; }
    &.gap20 { grid-gap: 20px; }
    &.gap25 { grid-gap: 25px; }
    &.gap30 { grid-gap: 30px; }
    &.gap35 { grid-gap: 35px; }
    &.alignCenter { align-items: center; }
    &.alignCenter { align-items: center; }
    &.flexColumns { flex-direction: column; }
    &.justifyEnd { justify-content: flex-end; }
    &.justifyCenter { justify-content: center; }
    &.spaceBetween { justify-content: space-between; }
}

:is(html[class~=dark] .dark\:before\:nx-bg-neutral-800):before {
    background: var(--smasherscapeGreen2Transparent2) !important;
}

:is(html[class~=dark] .dark\:nx-bg-primary-300\/10) {
    background-color: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)77%/.1);
    backdrop-filter: blur(15px);
}

:is(html[class~=dark]), :is(html[class~=light]) {
    input {
        &:focus-visible {
            --tw-ring-opacity: 1;
            --tw-ring-offset-color: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)39%) !important;
            --tw-ring-color: hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)32%/var(--tw-ring-opacity)) !important;
        }
    }
}

html[class~="dark"] {
     @supports (-webkit-backdrop-filter:blur(1px)) or ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
        background: var(--navyT) !important;
        .nextra-nav-container-blur {
            background: var(--navyT) !important;
            background-color: var(--navyT) !important;
        }
     }
     .nextra-nav-container-blur {
         background: var(--navyT) !important;
         --tw-shadow: 0 -12px 16px #000 !important;
         border-bottom: solid 1px #000000 !important;
     }

     .dark\:nx-shadow-\[0_-1px_0_rgba\(255\,255\,255\,\.1\)_inset\] {
         box-shadow: none !important;
         --tw-shadow: none !important;
         --tw-shadow-colored: none !important;
     }
     .nextra-nav-container {
        background: black !important;
        .nextra-nav-container-blur {
            background: black !important;
        }
     }
 }

.titleRow {
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    background: var(--gameBlueSoft);
    border-radius: var(--borderRadius);
    .innerRow {
        background: var(--blackGlass);
        h3 {
            font-size: 16px;
        }
        h4 {
            font-size: 14px;
        }
    }
}

.light {

    .darkModeLogo {
        display: none;
    }

    .item {
        color: white !important;
    }

    aside {
        border-right: solid 1px rgba(229, 231, 235, 1);
    }

    form {
        input {
            color: rgba(17, 24, 39, 1);
            background: #f2f2f2 !important;
            &::placeholder {
                color: rgba(17, 24, 39, 1);
            }
        }
    }

    .xl\:nx-block {
        border-left: solid 1px rgba(229, 231, 235, 1);
    }
    
    footer {
        margin: 3px 0px;
        border-top: solid 1px rgba(229, 231, 235, 1);
    }
}

.dark {

    .lightModeLogo {
        display: none;
    }

    .line {
        &::before {
            color: var(--softWhite) !important;
        }
    }

    .nx-sticky {
        &:not(.nx-top-0) {
            background: var(--menuBackground) !important;
        }
    }

    html[class~="dark"] .dark\:nx-shadow-\[0_-12px_16px_\#111\] {
        background: var(--menuBackground) !important;
    }

    aside {
        border-right: solid 1px var(--bg);
        background: black !important;
    }

    body {
        background: var(--menuBackground) !important;
    }

    article {
        // background: var(--smasherscapeBrown);
        // backdrop-filter: blur(35px) !important;
        background-repeat: no-repeat !important;
        // background: url(./public/assets/images/CWBG.jpg);
        // background: url(./public/assets/CobbleStoneTexture.png);

        // background-size: 100% !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        // background: url("./public/assets/runescapeBG.jpg") repeat-y center;
    }

    .nextra-toc {
        border-left: solid 1px var(--bg);
    }

    header, nav, .nextra-nav-container-blur {
        backdrop-filter: blur(8px);
        --tw-shadow: 0 -12px 16px #111;
        background: transparent !important;
        border-bottom: solid 1px var(--bg);
        @supports (-webkit-backdrop-filter:blur(8px)) or ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
            html[class~="dark"] .nextra-nav-container-blur {
                background: transparent !important;
            }
        }
        @supports (-webkit-backdrop-filter:blur(1px)) or ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
            html[class~="dark"] .nextra-nav-container-blur {
                background: transparent !important;
            }
        }
    }
    
    html[class~=dark] .dark\:nx-bg-dark {
        background: black !important;
    }

    footer {
        background: var(--navyT);
        div {
            background: var(--navyT);
        }
    }

}

article {
    padding: 0 !important;
    &:has(.oneProduct) {
        padding: 0 0 60px 0 !important;
    }
    main {
        max-width: 100% !important;
        width: 100% !important;
        padding: 0 !important;
        margin: 0 auto;
        &:has(.cwsContent) {
            margin: -4px auto -63px;
        }
    }
}

#minimizeTOCButton {
    padding: 1em;
    max-width: 30px;
    border-radius: 8px;
    align-self: baseline;
    /* filter: invert(1); */
    transition: var(--transition);
    background: rgba(0, 188, 247, 0.75);
    &:hover {
        color: black;
        filter: invert(0);
        background: white;
    }
}

.nextra-toc {
    width: auto;
    margin: 0 !important;
    padding: 0 !important;
    transition: var(--transition);
    &.minimized {
        width: 85px;
        p, ul, .loading, h2, form, blockquote, div a  {
            display: none !important;
        }
        .nextra-scrollbar div {
            padding: 13px !important;
        }
        #minimizeTOCButton {
            padding: 0 18px 0 10px;
            span {
                min-width: min-content;
                transform: rotateZ(180deg);
            }
        }
    }
    .nextra-scrollbar {
        padding-left: 1em;
        margin: 0 !important;
        overflow: visible !important;
        p, ul {
            padding: 0 0 1em 2em;
            li {
                position: relative;
                a {
                    font-size: 13px;
                    margin: 0;
                    max-width: 200px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.loadingSpinner {
    gap: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform-origin: center !important;
    .spinnerEl {
        width: 100%;
        display: flex;
        max-height: 18px;
        text-align: center;
        flex-direction: row;
        align-items: center;
        max-width: fit-content;
        justify-content: center;
        transform-origin: center !important;
        .spinner {
            font-size: 18px;
            text-align: center;
            max-width: fit-content;
            transition: var(--transition);
            animation: spin 1s linear infinite;
            transform-origin: center !important;
        }
    }
}

[dir="ltr"] .ltr\:-nx-mr-4 {
    margin-right: -2rem;
}

html[class~="dark"] .dark\:nx-border-neutral-800 {
    border-color: hsl(var(--nextra-primary-hue)100% 94%/.1) !important;
}

html[class~="light"] .nx-fixed {
    backdrop-filter: blur(5px);
    transition: var(--transition);
    background-color: rgba(255, 255, 255, 0.2) !important;
}

html[class~="dark"] .dark\:nx-bg-black\/60 {
    backdrop-filter: blur(5px);
    transition: var(--transition);
    background-color: rgba(0, 0, 0, 0.2) !important;
}

nav {
    a {
        &:first-child {
            order: -1;
        }
    }
}

.textOverflow {
    &:not(.extended) {
        max-width: 60%;
    }
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 100% !important;
    overflow: hidden !important;
    margin: 0 !important;
    display: inline-block;
    &.overrideWithInlineBlock {
        display: inline-block !important;
    }
}

html[class~=dark] .dark\:nx-bg-dark, html[class~=light] .light\:nx-bg-light {
    padding: 1em;
    margin: 0;
}

html[class~=dark] {
    .dark\:nx-text-neutral-500, .dark\:nx-text-gray-400 {
        &:not(.excerpt):not(.profileLink) {
            @extend .hoverLink;
            color: white !important;
        }
        &::before {
            height: 1px;
        }
        transition: var(--transition) !important;
        color: var(--softWhite) !important;
        &:hover {
            color: white !important;
        }
    }
}

html[class~=light] {
    .shopTitle {
        color: black;
    }
    .shopSubtitle {
        color: black;
    }
    .product {
        border-color: black;
    }
    .productButton {
        background: white;
        border-color: black;
    }
    nav a[href] {
        &:not(.excerpt):not(.profileLink) {
            @extend .hoverLink;
            font-weight: 800;
            color: black !important;
        }
        &::before {
            height: 2px;
        }
        color: var(--softWhite) !important;
        transition: var(--transition) !important;
        &.profileLink {
            color: white !important;
            &:hover {
                color: white !important;
            }
        }
        &:hover {
            color: var(--cwsBlue) !important;
        }
    }
}

.nx-max-w-\[90rem\] {
    max-width: 100% !important;
    padding: 0em;
}

.authForm {
    input {
        border-radius: 8px !important;
    }
}

.dark {
    .authForm {
        input {
            background: rgba(249,250,251,.1) !important;
        }
    }
}

.formItems {
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    form {
        &.addListForm {
            &::before { 
                font-size: 45px;
            }
        }
        &::before {
            max-height: 33px;
        }
    }
}

input {
    max-width: 100%;
    max-height: 100% !important;
    font-family: var(--fontFamily);
    &::placeholder {
        font-family: var(--fontFamily);
    }
}

@media (max-width: 437px) {
    .itemButtons {
        button {
            span {
                display: none !important;
            }
        }
    }
    .listNameRow {
        &.longName {
            max-width: 67% !important;
        }
    }
}

@media (max-width: 445px) {
    .itemButtons {
        button {
            .index {
                display: none !important;
            }
        }
    }
}

@media (max-width: 467px) {
    .overflowingBoard {
        .itemDate {
            display: none !important;
        }
    }
    .listNameRow {
        &.longName {
            max-width: 38% !important;
        }
    }
}

@media (max-width: 515px) {
    .status {
        display: none !important;
    }
    .itemDate {
        justify-content: flex-end !important;
    }

    .addListFormItem {
        h2 {
            display: none;
        }
    }
}

@media (max-width: 562px) {
    .listNameRow {
        &.longName {
            max-width: 43%;
        }
    }
}

@media (min-width: 768px) {
    aside, .nextra-toc {
        width: auto !important;
        display: none !important;
    }
}

@media (max-width: 768px) {
    aside {
        ul {
            li {
                &:not(.nx-flex) {
                    display: none;
                }
            }
        }
    }
    nav {
        * {
            &.nx-relative {
                display: none !important;
            }
            &.nx-text-sm {
                display: none !important;
            }
        }
    }
}

@media (max-width: 903px) {
    .board {
        &.lists {
            overflow: visible !important;
            overflow-x: scroll;
            &.container {
                .column {
                    min-width: 75% !important;
                }
            }
        }
    }
}

@media (max-width: 933px) {
    .filterFormDiv {
        .deleteButton {
            .iconButtonText {
                display: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .navFormDiv {
        // display: none !important;
        .navIcons {
            display: none;
        }
    }
    .board {
        &.lists {
            overflow-x: scroll;
            overflow: visible !important;
            .column {
                font-size: 0.85em;
                min-width: 48.9% !important;
            }
        }
    }
}

@media (max-width: 835px) {
    nav {
        .navFormDiv {
            display: none !important;
        }
    }
}

@media (max-width: 1120px) {
    .customIconLink {
        &::before {
            display: none !important;
        }
    }
    nav {
        &.nx-gap-2 {
            gap: 15px;
        }
        .nx-p-2 {
            padding: 0;
        }
        .navIcons {
            gap: 10px;
            padding-left: 3px;
            i {
                font-size: 16px !important;
                &.lightModeIcon {
                    font-size: 18px !important;
                }
                &.naturallySmallIcon {
                    font-size: 19px !important;
                }
            }
        }
    }
    .clipColumns {
        .subTaskItem {
            .subtaskActions {
                grid-gap: 0;
                align-items: baseline;
                padding: 0 5px 0 10px !important;
                flex-direction: column !important;
                .taskChangeLabel {
                    padding-top: 1px !important;
                    padding-bottom: 1px !important;
                }
            }
            .itemDate {
                min-width: 100%;
                padding: 5px 0 5px 10px;
                margin-top: -5px !important;
                border-top: solid 1px var(--gameBlue);
                justify-content: flex-start !important;
            }
        }
    }
}

@media (max-width: 1215px) {
    aside {
        .navFormDiv {
            display: flex !important;
        }
    }
}

@media (min-width: 1367px) {
    .status {
        overflow: hidden;
        text-align: left;
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        max-width: 50px !important;
    }
   .multiList {
    .itemName {
        max-width: 220px;
    }
    .itemDate {
        min-width: 135px !important;
    }
   }
}

@media (max-width: 1367px) {
    .completeButton {
        display: none !important;
    }
  .lists {
    grid-template-columns: 1fr !important;
    .itemName {
        width: 100% !important;
        grid-gap: 10px !important;
        justify-content: flex-start;
        .status {
            text-align: left;
            overflow: hidden;
            display: inline-block;
            width: 50px !important;
            text-overflow: ellipsis;
            max-width: 50px !important;
        }
    }
  }
}

@media (min-width: 1367px) and (max-width: 1400px) {
    .status {
        display: none !important;
    }
    .multiList {
        .itemDate {
            justify-content: flex-end !important;
        }
    }
}

@media (min-width: 1367px) and (max-width: 1460px) {
    .multiList {
        .listNameRow {
            &.longName {
                max-width: 40%;
            }
        }
    }
}

@media (max-width: 1395px) {
    .columnStats {
        display: none !important;
    }
    .boardTitle {
        .middle {
            display: none !important;
        }
        .divSep {
            display: none !important;
        }
    }
}

@media (min-width: 1460px) and (max-width: 1560px) {
    .multiList {
        .listNameRow {
            &.longName {
                max-width: 48%;
            }
        }
    }
}

@media (max-width: 1485px) {
    .overflowingBoard {
        .subTaskItem {
            .subtaskActions {
                grid-gap: 0;
                align-items: baseline;
                padding: 0 5px 0 10px !important;
                flex-direction: column !important;
                .taskChangeLabel {
                    padding-top: 1px !important;
                    padding-bottom: 1px !important;
                }
            }
            .itemDate {
                min-width: 100%;
                padding: 5px 0 5px 10px;
                margin-top: -5px !important;
                border-top: solid 1px var(--gameBlue);
                justify-content: flex-start !important;
            }
        }
        .columnStats {
            display: none;
        }
    }
}

@media (max-width: 1550px) {
    .filtersSubscript {
        display: none !important;
    }
    .copyButton {
        display: none !important;
    }
    .status {
        display: none !important;
    }
}

@media (max-width: 1575px) {
    .boardDate {
        display: none !important;
    }
}

@media (max-width: 1660px) {
    .threeBoard, .moreBoard {
        .columnStats {
            display: none !important;
        }
    }
}

footer {
    div {
        padding: 1em !important;
    }
}

.logo {
    padding: .5rem .5rem .5rem 0;
}

body {
    overflow-x: hidden;
    transition: var(--transition);

    article {
        div {
            &:has(time) {
                display: none !important;
            }
        }
    }

    &:has(._projects_boards) {
        &:not(:has(.focusBoard)) {
            &:has(.oneBoard) {
                overflow-y: hidden;
            }
        }
        article {
            overflow: hidden;
            h1 {
                margin: -10px 0 -7px 0;
            }
            .board {
                .column {
                    min-height: 621px;
                    .items {
                        min-height: 515px;
                    }
                }
            }
        }
    }

    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

section {
    &:not(.customSection) {
        width: 100%;
        height: auto;
        display: flex;
        grid-gap: 1em;
        margin: 0 auto;
        padding: 1em 0;
        overflow: visible;
        align-items: center;
        justify-content: space-between;
    
        * {
            width: 100%;
            height: auto;
            display: flex;
            grid-gap: 5px;
            flex-direction: column;
        }
    }
}

.customButtons {
    button, input[type="submit"] {
        border: 0;
        &[type="submit"] {
            color: white !important;
            background: rgb(0 188 247 / 75%) !important;
            padding: 10px 25px !important;
            font-weight: 600;
            line-height: 1;
            /* filter: invert(1); */
            border: 0 !important;
            &:hover {
                color: black !important;
                background: white !important;
                filter: invert(0) !important;
            }
        }
        padding: 10px;
        outline: none;
        cursor: pointer;
        border-radius: var(--borderRadius);
        font-family: 'Montserrat';
        color: white !important;
        background: var(--blackGlass);
        transition: var(--transition);

        i {
            pointer-events: none;
        }

        &.rowButton {
            margin-top: -17px;
        }

        &:not([type="button"]) {
            &:hover {
                filter: invert(1);
                box-shadow: 0 0 8px 0px black;
            }
        }

        &:focus {
            // Active or Was Pushed
            filter: invert(0) brightness(1.5);
        }

        &:active {
            // On Click
            transform: scale(1.01);
            box-shadow: inset 0 0 8px 0px black;
        }
    }

}

.dark {
    ::-webkit-scrollbar {
        position: relative;
        width: 4px !important;
        background: black !important;
        border-radius: var(--borderRadius);
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--gameBlue);
        border-radius: var(--borderRadius);
    }
    
    ::-webkit-scrollbar {
        position: relative;
        width: 4px !important;
        border-radius: var(--borderRadius);
        background: var(--blackGlass) !important;
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--softWhite);
        border-radius: var(--borderRadius);
    }
}

.light {
    ::-webkit-scrollbar {
        position: relative;
        width: 4px !important;
        background: black !important;
        border-radius: var(--borderRadius);
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--gameBlue);
        border-radius: var(--borderRadius);
    }
    
    ::-webkit-scrollbar {
        position: relative;
        width: 4px !important;
        border-radius: var(--borderRadius);
        background: black !important;
    }
    
    ::-webkit-scrollbar-thumb {
        background: white;
        border-radius: var(--borderRadius);
    }
}

.fieldBG {
    padding: 5px;
    position: relative;
    border-radius: 8px;
    background: var(--cwsBluePink);
    transition: var(--shortTransition);
    label {
        transition: var(--shortTransition);
    }
    kbd {
        top: 1.1px;
        color: white;
        position: absolute;
        right: 40px !important;
        transition: var(--shortTransition);
    }
    &:has(.MuiAutocomplete-hasClearIcon) {
        kbd {
            right: 75px !important;
        }
    }
    &:has(.Mui-focused) {
        padding: 20px 5px 4.1px;
        label {
            opacity: 1 !important;
        }
        kbd {
            top: 15.5px;
            color: white !important;
        }
    }
}

.inputWithBGContainer {
    input {
        outline: none !important;
        border: 3px solid black;
        color: var(--cwsNavy) !important;
        background: rgba(255, 255, 255, 0.8) !important;
        &::placeholder {
            color: var(--cwsNavy) !important;
        }
    }

    @media (min-width: 768px) {
        input {
            max-height: 30px !important;
        }
    }

    &:not(.noBG) {
        .inputWithBGInner {
            z-index: 1;
        }
    
        &::before {
            top: -6px;
            left: -6px;
            content: "";
            width: 101%;
            position: absolute;
            border-radius: 8px;
            transition: var(--transition);
            background: var(--cwsBluePink) !important;
            height: calc(var(--authFormHeight) + 10px);
        }
    
        &::after {
            top: 6px;
            left: -6px;
            content: "";
            width: 101%;
            position: absolute;
            border-radius: 8px;
            transition: var(--transition);
            background: var(--cwsBluePink) !important;
            height: calc(var(--authFormHeight) + 10px);
        }

        @media (min-width: 768px) {
            margin-right: 10px;
        }
    }
}

kbd {
    color: white;
    border-width: 2px;
    border-color: black !important;
    background: var(--cwsBlueT) !important;
}

.navFormSection {
    min-width: 260px;
    padding: 0 !important;
    @media (min-width: 768px) {
        &:has(.Next) {
            max-width: 260px;
        }
    }
    .submit {
        max-width: fit-content !important;
    }
    &:has(.userSignedIn) {
        @media (min-width: 768px) {
            max-width: fit-content !important;
        }
        .authForm {
            grid-gap: 10px;
            padding: 0 10px;
            flex-direction: row-reverse !important;
            &::before {
                background: var(--cwsPinkBlue) !important;
            }
        }
        input[type="submit"] {
            top: 0;
            width: 100%;
            color: black !important;
            padding-left: 10px !important;
            background: white !important;
            border-top-left-radius: 8px !important;
            border-bottom-left-radius: 8px !important;
        }  
    }
    &:not:has(.userSignedIn) {
        @media (min-width: 768px) {
            top: 2px;
            max-width: 420px;
        }
    }
}

@supports (-webkit-backdrop-filter:blur(1px)) or ((-webkit-backdrop-filter:blur(1px)) or (backdrop-filter:blur(1px)))  {
    html[class~=dark] .nextra-nav-container-blur {
        background: rgba(0, 0, 0, 0.35) !important;
    }
}

p em {
    font-weight: 500;
}

form {
    input {
        font-size: 14px;
        max-height: 35px;
        font-weight: 400;
        padding: 10px 25px;
        outline: none !important;
        color: white !important;
        transition: var(--transition);
        background: var(--blackGlass) !important;

        label {
            padding: 50px !important;
        }
        
    
        &::placeholder {
            color: white;
        }

        &[type="submit"] {
            cursor: pointer;
            &:hover {
                border: 0 !important;
                filter: invert(1);
            }
        }
    
        &[type="color"] {
            border: 0;
            padding: 1em;
            outline: none;
            min-height: 60px;
            position: relative;
            border-radius: var(--borderRadius);
    
            &::before {
                transform: translate(-50%, -50%);
                content: attr(data-color);
                position: absolute;
                top: 50%;
                left: 50%;
                color: white;
                font-weight: 500;
                height: 28px;
                width: 96.5%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            &.dark {
                &::before {
                    color: white;
                }
            }
    
            &.light {
                &::before {
                    color: black;
                }
            }
        }
    }
}

html[class~=dark], html[class~=light] {
    .changeLabel:focus-visible {
        border: 0 !important;
        outline: none !important;
        --tw-ring-opacity: 0 !important;
        --tw-ring-color: none !important;
    }
}

.changeLabel {
    padding: 0 2px;
    border-radius: 8px;
    transition: var(--transition);
    &.editable {
        &:hover {
            background: rgba(0,194,255,.2);
        }
    }
}

textarea {
    height: 22px;
    overflow-y: hidden;
}

.flex {
    width: 100%;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    &.gap5 {
        grid-gap: 5px;
    }
    &.gap10 {
        grid-gap: 10px;
    }
    &.gap15 {
        grid-gap: 15px;
    }
    &.isColumn {
        flex-direction: column !important;
    }
    &.row {
        grid-gap: 13px;
        flex-direction: row !important;
        &.end {
            justify-content: flex-end;
        }
        .innerRow {
            width: 100%;
            margin: 0 auto;
            grid-gap: 10px;
            padding: 10px 15px;
            align-items: center;
            border-radius: var(--borderRadius);
        }
        .left {
            .boardDate {
                margin-left: -15px;
                justify-content: end;
                .itemDate {
                    margin-left: -15px !important;
                }
            }
            max-width: fit-content;
            * {
                max-width: min-content;
            }
            text-align: left;
            justify-content: flex-start;
        }
        .middle {
            max-width: fit-content;
            * {
                max-width: min-content;
            }
            text-align: right;
            justify-content: flex-end;
        }
        .right {
            .filterFormDiv {
                width: 100%;
                max-width: none;
                form {
                    max-height: 33px;
                    max-width: none;
                    button {
                        max-width: min-content;
                        @media (max-width: 1635px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.slashes {
    color: var(--gameBlue);
    max-width: fit-content;
    display: contents;
    font-weight: 600;
}

.overlay {
    top: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: rgba(24, 24, 24, 0.65);
}

.textGradient {
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background: var(--cwsPinkBlue);
}

.confirmTitle {
    .productButtons {
        padding-top: 40px;
        justify-content: center;
    }
    .productIcon {
        font-size: 20px;
    }
    .productButtonText {
        font-size: 22px;
    }
}

.confirmMessage {
    font-size: 22px;
}

.alert {
    width: 450px;
    height: 450px;
    display: flex;
    padding: 40px;
    grid-gap: 15px;
    position: relative;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    justify-content: flex-start;
    transition: var(--transition);
    box-shadow: 0 0 8px 0px black;
    border-radius: var(--borderRadius);

    h1 {
        font-size: 1.75em;
    }

    .alertInner {
        width: 100%;
        height: 100%;
        font-size: 1.6em;
        overflow: overlay;
        max-height: 535px;
        padding: 0 1em 0 0;
        text-shadow: 2px 2px 0px black;
        @media (max-width: 1200px) {
            font-size: 1.35em;
        }
    }

    button {
        span {
            @extend .textGradient;
        }
    }

    .alertTitle {
        width: 95%;
        color: white;
        font-weight: 600;
        font-size: 2.5em;
        position: relative;
        border-radius: 3px 3px;
        transition: var(--transition);
        text-shadow: 2px 2px 0px black;
        &::after {
            left: 0;
            content: "";
            bottom: -2px;
            width: 100%;
            height: 5px;
            border-radius: 8px;
            position: absolute;
            background: var(--cwsBluePink);
        }
        @media (max-width: 1400px) {
            font-size: 2.1em;
        }
        @media (max-width: 1200px) {
            font-size: 1.75em;
        }
    }

    .inner {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        max-width: 95%;
        overflow: auto;
        max-height: 86%;
        align-items: center;
        justify-content: center;
    }

    form {
        width: 45%;
        grid-gap: 15px;
        margin: 0 auto;
        h3 {
            font-size: 2em;
            font-style: italic;
            align-self: flex-start;
        }
        input {
            width: 100%;
        }
        button {
            width: 33%;
            color: black;
            padding: 5px 0;
            font-weight: 600;
            background: white;
            align-self: flex-end;
            justify-content: center;
            transition: var(--transition);
            &.deleteButton {
                color: white;
                background: red;
                &:hover {
                    font-weight: 800;
                    color: black;
                }
            }
        }
    }

    &.slim {
        height: 120px;
    }

    .alertButton {
        top: 15px;
        right: 15px;
        width: 35px;
        display: flex;
        color: black;
        font-size: 20px;
        font-weight: 900;
        position: absolute;
        background: white;
        align-items: center;
        justify-content: center;
        &:hover {
            background: black;
        }
        span {
            top: 2px;
            position: relative;
        }
    }

    h3, p {
        padding: 5px 0;
        text-align: center;
    }
}

.dark {
    .alert {
        background: var(--cwsPinkBlueTransparentSubtle);
        h3, p {
            color: white;
        }
    }
}

.light {
    .alert {
        background: var(--cwsPinkBlueTransparentSubtleT);
        h3, p {
            color: white;
        }
    }
}

.hoverLink {
    display: flex;
    grid-gap: 0.3em;
    position: relative;
    align-items: center;
    transition: var(--transition);

    &::before {
        right: 0;
        z-index: 0;
        width: 100%;
        bottom: 1px;
        display: block;
        position: absolute;
        transform: scale(0, 1);
        content: "" !important;
        transform-origin: 0% 100%;
        transition: var(--transition);
        background: var(--cwsBluePink);
    }

    &:hover {
        transition: var(--transition);

        &::before {
            transform: scale(1, 1);
        }
    }
}

.itemButtons {
    height: 100%;
    display: flex;
    grid-gap: 7px;
    padding-right: 7px;    
    justify-content: flex-end;
    flex-direction: row !important;

    &:not(.unset) {
        max-width: fit-content;
    }

    button {
        padding: 0px 10px !important;
        &.editButton {
            padding: 0 0 0 3px !important;
        }
        max-width: 100%;
        position: relative;
        background: white;
        color: black !important;
        width: min-content;
        min-height: 33px;
        grid-gap: 8px;

        i {
            max-width: fit-content;
            pointer-events: none;
        }

        &:hover {
            box-shadow: none !important;
            i {
                filter: invert(1);
            }
        }
    }
}

.iconButton {
    flex-direction: row !important;
    justify-content: space-between;
    background: var(--blackGlass);
    transition: var(--transition);
    font-weight: 700 !important;
    align-items: center;
    border-radius: var(--borderRadius);
    font-size: 0.85em;
    padding: 0px 0px;
    min-height: 35px;
    display: flex;
    width: 100%;
    span, i {
        pointer-events: none;
    }
    .iconButtonText {
        grid-gap: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    &:focus {
        i {
            filter: invert(1);
        }
    }
    &:hover {
        &:not(#topButton):not(.alertButton) {
            filter: invert(1);
        }
        .itemLength {
            filter: invert(1) !important;
        }
    }
}

footer {
    height: 40px;
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .hoverLink {
        &::before {
            bottom: -5px;
            height: 1px;
        }
    }

    div {
        display: flex;
        grid-gap: 1em;
        align-items: center;
    }

    .vertical-sep,
    i {
        color: var(--smasherscapeBlue);

        &.fas.fa-undo {
            font-size: 0.8em;
            margin-bottom: 0em;
        }
    }

    .inner {
        .right {

            img,
            svg {
                fill: var(--smasherscapeBlue);

                path {
                    fill: var(--smasherscapeBlue);
                }
            }

            .piratechs {
                max-height: 15px;
                fill: var(--smasherscapeBlue);
                margin: 0 -7px 1px 0;

                path {
                    fill: var(--smasherscapeBlue);
                }

                img,
                svg {
                    fill: var(--smasherscapeBlue);

                    path {
                        fill: var(--smasherscapeBlue);
                    }
                }
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.listTitleButton {
    &:hover {
        filter: invert(0) !important;
        button {
            i, .itemLength {
                filter: invert(1) !important;
            }
        }
    }
}

.animComplete {
    display: none !important;
}

.loaded {
    animation: fadeOut 2s var(--transition) 1 !important;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}

.dubscript {
    font-size: 0.85em;
}

.subscript {
    font-size: 0.7em;
}

@media (max-width: 485px) {
    .filterFormDiv {
        #filter_tasks, #filter_completed {
            display: none;
        }
    }
}

@media (max-width: 405px) {
    .filterFormDiv {
       button {
        display: none;
       }
    }
}

.lineSep {
    border-color: var(--gameBlueSoft);
}

.visiblePopover {
    visibility: visible;
    pointer-events: all;
    opacity: 1 !important;
    transform: translateY(10px) !important;
}

.popoverContainer {
    &:hover {
        .popover {
            @extend .visiblePopover;
        }
    }
}

.popover {
    left: 0;
    top: 15px;
    opacity: 0;
    z-index: 100;
    bottom: -100%;
    padding: 25px 0;
    visibility: hidden;
    align-items: center;
    position: absolute;
    pointer-events: none;
    justify-content: center;
    width: 260px !important;
    min-height: max-content;
    height: auto !important;
    display: flex !important;
    transform: translateY(-50%);
    backdrop-filter: blur(10px);
    background: var(--cwsBlueTMax);
    border-radius: var(--borderRadius);
    transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
}

.popover.visible {
    @extend .visiblePopover;
}

.userAdminControls {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminFeature {
    margin: 0 auto;
    align-items: center;
    width: 90% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}

article {
    min-height: calc(94vh - var(--nextra-navbar-height)) !important;
}

::selection {
    background: var(--gameBlueSoft);
}

form {
    &.ConcentrationGameForm {
        display: flex;
        grid-gap: 1em;
        font-size: 2em;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat';
        label {
            opacity: 1;
            font-weight: 500;
            font-size: 0.45em;
            text-align: center;
            font-family: 'Montserrat' !important;
        }
        input {
            width: 100%;
            font-size: 0.85em;
            text-align: center;
            font-family: 'Montserrat';
            margin: 5px 0 0 0 !important;
            background: transparent !important;
            &:focus-visible {
                outline: none;
                box-shadow: none;
            }
            &::placeholder {
                opacity: 0.7 !important;
                font-family: 'Montserrat';
                font-size: 0.85em !important;
            }
        }
        button {
            min-height: 35px;
            border-radius: var(--borderRadius);
            font-family: 'Montserrat' !important;
            background: var(--blackGlass) !important;
        }
    }
}

.MuiFormLabel-asterisk {
    color: var(--gameBlueSoft);
}

.dark {
    .MuiStepConnector-line {
        color: #cfcfcf !important;
    }
    form {
        &.ConcentrationGameForm {
            input {
                border-bottom: 1px solid white !important;
            }
        }
    }
}

.light {
    .MuiStepConnector-line {
        color: #8d8d8d !important;
    }
    .MuiTypography-root {
        color: rgba(17, 24, 39, 1);
    }
    .MuiStepLabel-label, .MuiStepper-root .MuiTextField-root label, .MuiStepper-root .MuiTextField-root label:not(.Mui-focused) {
        color: rgba(17, 24, 39, 1) !important;
    }
    form {
        &.ConcentrationGameForm {
            input {
                color: rgba(17, 24, 39, 1) !important;
                border-bottom: 1px solid rgba(17, 24, 39, 1) !important;
                &::placeholder {
                    color: rgba(17, 24, 39, 1);
                }
            }
        }
    }
}

.nextra-sidebar-container {
    font-weight: 500;
    li {
        &:not(.active) {
            a, button {
                display: flex;
                grid-gap: 0.3em;
                position: relative;
                align-items: center;
                transition: var(--transition);
                color: rgba(255, 255, 255, 1) !important;

                &::before {
                    right: 0;
                    z-index: 0;
                    width: 100%;
                    bottom: 1px;
                    height: 1px;
                    display: block;
                    position: absolute;
                    transform: scale(0, 1);
                    content: "" !important;
                    transform-origin: 0% 100%;
                    transition: var(--transition);
                    background: var(--cwsBluePink);
                }

                &:hover {
                    transition: var(--transition);
                    color: rgba(255,255,255,1) !important;
                    border-bottom: 0px solid var(--cwsBlue) !important;

                    &::before {
                        transform: scale(1, 2);
                        transition: 500ms ease-in-out;
                    }
                }
            }
        }
   }
}

.light {
    .welcomeMessage {
        color: white;
    }
    .nextra-sidebar-container {
       li {
            &:not(.active) {
                a, button {
                    color: var(--cwsNavy) !important;
                }
            }
        }
    }
}

@keyframes slideUp {
    0% {
        height: 0px;
        transform-origin: bottom;
    }
    100% {
        height: 100%;
    }
}

.toggle-switch {
    width: 50px !important;
    height: 20px !important;
    background-color: #ccc; /* Background of the switch when off */
    border-radius: 25px; /* Rounded corners for the switch */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    .slider {
        position: absolute;
        top: 2px; /* Small gap from the top */
        left: 2px; /* Start from the left side */
        width: 15px; /* Width of the slider */
        height: 15px; /* Height of the slider */
        background-color: #fff; /* Background of the slider */
        border-radius: 50%; /* Make the slider round */
        transition: left 0.3s ease; /* Smooth sliding effect */
    }
}

.toggle-switch:has(.toggled) .slider {
    left: 32px; /* Move to the right when toggled */
}

.toggle-switch:has(.toggled) {
    background: var(--cwsLightGreen);
}

.valid {
    color: var(--success);
}

.inavlid {
    color: var(--error);
}

.errorMessage {
    font-size: 13px;
    color: var(--error);
}