@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

:root {
    --scroll-y: 0;
    --element-top: 0;
    --toDoBG: #f6d9ed;
    --doneBG: #bde4b5;
    --borderRadius: 8px;
    --fontColor: white;
    --cwsNavy: #0F123e;
    --cwsPeach: #f8b7a8;
    --containerWidth: 90%;
    --navyBlue: #3e6595;
    --darkGray: #1f1f1f;
    --cwsYellow: #fdbf14;
    --backLogBG: #e2e2f8;
    --cwsGreen: #00a64c;
    --mainColor: #00c2ff;
    --softWhite: #dcdad7;
    --toDoSolid: #d341a5;
    --background: #314a89;
    --trelloGray: #9fadbc;
    --mediumGray: #3c3c3c;
    --accentColor: #00cc80;
    --navyBlueT: #3e65955d;
    --backLogSolid: #6e6edb;
    --inProgressBG: #d2e6ff;
    --shopifyGreen: #95bf47;
    --cwsLightGreen: #00ff75;
    --inProgressSolid: #2080ff;
    --shopifyGreenShade: #64943e;
    --cwsDarkGreen: darkslategray;
    --navyT: rgba(15,18,62, 0.749);
    --cwsBlue: rgba(65, 174, 227, 1);
    --cwsPink: rgba(199, 26, 143, 1);
    --cwsNavyT: rgba(15, 30, 74, 0.7);
    --background-parallax-intensity: 0.2;
    --cwsBlueT: rgba(65, 174, 227, 0.85);
    --cwsPinkT: rgba(199, 26, 143, 0.85);
    --fontFamily: 'Sofia Sans', sans-serif;
    --selectionTextColor: var(--softWhite);
    --cwsPinkTMin: rgba(199, 26, 143, 0.7);
    --cwsBlueTMin: rgba(65, 174, 227, 0.8);
    --cwsBlueTMax: rgba(65, 174, 227, 0.99);
    --cwsNavyBlueT: rgba(65, 174, 227, 0.008);
    --selectionBackgroundColor: var(--navyBlue);
    --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1);
    --cwsClearBGSolo: url(./public/assets/images/cwsClearBG.png);
    --cwsArticleBackground: linear-gradient(var(--cwsNavyT), var(--cwsNavyT)), url(./public/assets/images/CWBG.jpg);
    --backgroundRepeatingLinearGradient: repeating-linear-gradient(rgb(0, 0, 0) 0px, rgb(0, 0, 0) 24px, var(--accentColor) 25px);
    --cwsClearBG: url(./public/assets/images/cwsClearBG.png), radial-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.95));
    --cwsTransitionBG: linear-gradient(0deg, var(--cwsNavyT), transparent, transparent, transparent, transparent, transparent, transparent, white), url(./public/assets/images/cwsClearBG.png);
    --backgroundGradient: linear-gradient(135deg, transparent 0%, transparent 17%,rgb(87 146 234 / 32%) 17%, rgba(87, 146, 234,0.6) 59%,transparent 59%, transparent 64%,rgba(34, 81, 222,0.6) 64%, rgba(34, 81, 222,0.6) 100%),linear-gradient(45deg, transparent 0%, transparent 2%,rgb(87, 146, 234) 2%, rgb(87, 146, 234) 46%,rgb(114, 178, 239) 46%, rgb(114 178 239 / 52%) 54%,transparent 54%, transparent 63%,rgb(7 48 216 / 36%) 63%, rgb(7 48 216 / 32%) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

body {
    font-family: var(--fontFamily);
}

nav a.nx-text-sm {
    &[href="/"] {
        display: none !important;
    }
}

.white {
    color: white;
}

.red {
    color: var(--cwsRed);
}

.redbg, .redBg, .redBG {
    background: var(--cwsRed);
}

.blue {
    color: var(--cwsBlue);
}

.bluebg, .blueBg, .blueBG {
    background: var(--cwsBlue);
}

.pink {
    color: var(--cwsPink);
}

.pinkbg, .pinkBg, .pinkBG {
    background: var(--cwsPink);
}

.peach {
    color: var(--cwsPeach);
}

.peachbg, .peachBg, .peachBG {
    background: var(--cwsPeach);
}

.green {
    color: var(--cwsGreen);
}

.lightgreen {
    color: var(--cwsLightGreen);
}

.darkgreen {
    color: var(--cwsDarkGreen);
}

.greenbg, .greenBg, .greenBG {
    background: var(--cwsGreen);
}

.cwsNavy {
    color: var(--cwsNavy);
}

.cwsNavyImportant {
    color: var(--cwsNavy) !important;
}

.shopifyGreen {
    color: var(--shopifyGreen);
}

.shopifyGreenShade {
    color: var(--shopifyGreenShade);
}

.googleButton {
    div[role=button][type=dark] {
        div {
            background: white;
            transition: var(--transition);
            &:hover {
                background: black !important;
            }
        }
    }
}

.twitterIcon {
    @extend .blue;
    font-size: 24px;
}

.instagramIcon {
    @extend .pink;
    font-size: 24px;
}

.addToCartIcon {
    @extend .blue;
    &.navCart {
        font-size: 18px;
        transition: var(--transition);
        &:hover {
            @extend .peach;
        }
    }
}

.darkModeIcon, .lightModeIcon {
    @extend .pink;
    transition: var(--transition);
    &:hover {
        @extend .peach;
    }
}

.blurredBG {
    padding: 2em;
    border: solid 1px white;
    backdrop-filter: blur(10px);
}

.pageContentContainer {
    width: 80%;
    display: flex;
    margin: 0 auto;
    grid-gap: 25px;
    font-size: 25px;
    flex-direction: column;
}

.subtitle {
    font-size: 38px !important;
}

.cwsMainBanner {
    position: relative;
    // background: white;
    padding: 0 !important;
    background-size: cover !important;
    // background-position: 50% 50% !important;
    &::after {
        left: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        content: "";
        height: 2px;
        position: absolute;
        background: var(--cwsPinkBlue);
    }
    .hero {
        height: 645px;
        padding: 1em 0;
        @media (max-width: 1600px) {
            height: 500px;
            padding: 3em 0 1em;
        }
        align-items: center;
        color: var(--cwsNavy);
        justify-content: center;
        background: var(--cwsClearBG);
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: 50% 100% !important;
        .heroContent {
            width: 100%;
            margin: 0 auto;
            max-width: 100%;
            position: relative;
            text-align: center;
            align-items: center;
            max-width: fit-content;
            justify-content: center;
            @media (min-width: 600px) {
                min-width: 565px;
            }
            .heroLogo {
                padding-bottom: 35px;
            }
            .heroTitle {
                font-size: 50px;
                font-weight: bolder;
                margin-bottom: 15px;
                text-align: center;
            }
            .heroSubtitle {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 15px;
                text-align: center;
            }
            .heroTitleSubText {
                font-size: 55px;
            }
            .heroDesc {
                font-size: 18px;
                position: relative;
                text-align: center;
                margin-bottom: 15px;
                max-width: fit-content;
            }
            .heroButton {
                font-size: 15px;
                margin-bottom: 15px;
                text-align: center;
                padding: 10px 20px;
                border-radius: 10px;
                background: var(--cwsBlue);
                color: white;
                border: none;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover {
                    background: var(--cwsPink);
                }
            }
        
        }
    }
    img {
        max-width: 350px;
    }
}

.cwsContent {
    width: 100% !important;
    margin: 0 auto;
}

.shopBG {
    background-size: auto, cover;
    background-repeat: repeat, repeat;
    background-position: 0% 0%, 50% calc(50% - (((var(--scroll-y, 0) * 1px) - (var(--element-top, 0) * 1px)) * var(--background-parallax-intensity, 0)));
}

.dark {
    .shopBG {
        background-image: linear-gradient(to top, var(--navyT), var(--navyT)), url(./public/assets/images/shopBG.jpg);
    }
}

.light {
    .shopBG {
        background-image: linear-gradient(to top, var(--softWhiteT), var(--softWhiteT)), url(./public/assets/images/shopBG.jpg);
    }
}

hr {
    &::before {
        height: 30px;
        width: 11rem;
        border-radius: 30px;
        background-size: cover;
        background-repeat: repeat;
        background-position: 0% 0%;
        background-color: var(--cwsBlue);
        background-image: linear-gradient(90deg, var(--cwsPink) 0%,  100%);
    }
}

.shopTitle {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: center;
}

.shopSubtitle {
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.card {
    border-radius: 10px;
    padding: 15px 25px 25px;
    border: solid 3px white;
    backdrop-filter: blur(10px);
    &.cardWider {
        padding: 50px;
    }
}

.product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTitle {
    width: 100%;
    display: flex;
    grid-gap: 15px;
    padding: 0 0 10px 10px;
    justify-content: flex-start;
}

.productContent {
    height: 100%;
    font-size: 20px;
    padding-bottom: 20px;
}

.productOptionsForm {
    display: flex;
    grid-gap: 25px;
    flex-direction: column;
}

.productFieldRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .selectToggle {
        max-width: fit-content;
    }
    .productButtons {
        &:first-child {
            max-width: fit-content;
            justify-content: flex-start;
        }
    }
}

.productButtons {
    width: 100%;
    display: flex;
    grid-gap: 15px;
    font-size: 18px;
    justify-content: flex-end;
}

.hideForRole {
    display: none;
}

@media (max-width: 1100px) {
    .hideOnMobile {
        display: none !important;
    }
}

.flexList {
    width: 100%;
    grid-gap: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.toggleButtons {
    font-size: 18px;
    @extend .flexList;
    flex-direction: row;
    .buttons {
        @extend .flexList;
        width: auto;
    }
    button {
        border: 0;
        border-radius: 0;
        border-width: 2px;
        &:first-child, &.firstOption {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-left-width: 3px !important;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-right-width: 3px !important;
        }
    }
}

@media (max-width: 1015px) {
    .productFieldRow {
        justify-content: center;
    }
    .productMainImage {
        position: relative;
        top: 10px;
    }
    .flexList {
        grid-gap: 5px;
        justify-content: center;
        button {
            &:not(.qtyBtn) {
                border-radius: 5px !important;
            }
        }
    }
}

.dark {
    .toggleButtons {
        button {
            &:not(:first-child), &:not(:last-child) {
                border-color: white;
            }
        }
    }
}

.light {
    .toggleButtons {
        button {
            &:not(:first-child), &:not(:last-child) {
                border-color: black;
            }
        }
    }
}

.textWithIcon {
    display: flex;
    grid-gap: 7px;
    font-weight: bolder;
    align-items: center;
}

.productButton {
    max-height: 30px;
    border-radius: 5px;
    @extend .textWithIcon;
    padding: 4px 10px 2px;
    transition: var(--transition);
    &.qtyBtn {
        max-height: 28px;
    }
    &.buttonFullWidth {
        width: 100%;
        justify-content: center;
    }
    &:not(:disabled) {
        &:hover {
            color: white;
            background: var(--cwsBlueT);
            border: 2px solid var(--cwsBlueT);
            border-color: var(--cwsBlueT) !important;
            .productButtonText  {
                text-shadow: 0 0 1px white;
            }
            &.detailsProductButton {
                i {
                    @extend .lightgreen;
                }
            }
            &.editProductButton {
                i {
                    @extend .pink;
                }
            }
            &.addToCartButton {
                .dollar {
                    @extend .pink;
                }
                .addToCartIcon {
                    @extend .pink;
                }
            }
        }
        &:active {
            color: white;
            background: var(--cwsGreen);
            border: 2px solid var(--cwsGreen);
            border-color: var(--cwsGreen) !important;
        }
        &.active {
            color: white;
            background: var(--cwsPink);
            border: 2px solid var(--cwsPink);
            border-color: var(--cwsPink) !important;
        }
    }
}

.dark {
    .productButton {
        border: 2px solid white;
    }
}

.light {
    .productButton {
        border: 2px solid black;
    }
}

.featuredProduct {
    .productDesc {
        font-size: 18px;
    }
}

.selectToggle {
    width: 100%;
    grid-gap: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .selectText {
        width: 100%;
        font-size: 18px;
        text-align: right;
        padding-right: 25px;
        max-width: fit-content;
    }
}

.qtyTextSlim {
    padding: 0;
    height: 36px;
    margin: 0 10px;
    min-width: 36px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 100% !important;
    .optionText {
        bottom: -1px;
        font-size: 15px;
        position: relative;
    }
}

.qtyButton {
    &.qtyButtonSlim {
        height: 20px;
    }
    &.subQty {
        &:not(:disabled) {
            &:hover {
                background: var(--cwsPink) !important;
                border-color: var(--cwsPink) !important;
            }
            &:active {
                background: var(--cwsRed) !important;
                border-color: var(--cwsRed) !important;
            }
        }
    }
    &.addQty {
        &:not(:disabled) {
            &:hover {
                background: var(--cwsBlue) !important;
                border-color: var(--cwsBlue) !important;
            }
            &:active {
                background: var(--cwsGreen) !important;
                border-color: var(--cwsGreen) !important;
            }
        }
    }
}

.dark {
    .qtyButton {
        color: black;
        background: white;
        border-color: white !important;
    }
}

.light {
    .qtyButton {
        color: white;
        background: black !important;
        border-color: black !important;
    }
}

.productIcon {
    top: -1px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.productButtonText {
    font-size: 18px;
}

.productsSection {
    display: flex;
    padding: 65px 0;
    @extend .shopBG;
    min-height: 600px;
    align-items: center;
    justify-content: center;
}

.cards {
    margin: 0 auto;
    grid-auto-rows: 1fr;
    width: 100% !important;
    grid-template-columns: repeat(2, 1fr);
    @media (min-width: 768px) {
        gap: 35px;
        width: 95% !important;
    }
    &.noProducts, &.oneProduct {
        width: 75% !important;
        grid-template-columns: repeat(1, 1fr);
        .productPic {
            max-height: 425px;
            @media (min-width: 1200px) {
                max-height: 575px;
                &.productAltImage {
                    top: 48%;
                }
            }
        }
        @media (min-width: 1500px) {
            width: 51% !important;
        }
        .topIcon {
            position: relative;
            top: 5px;
        }
        .productTitle {
            padding: 15px 0 0;
            justify-content: center;
        }
        .oflow {
            max-width: 100%;
        }
        @media (min-width: 768px) {
            .cardTitle {
                font-size: 25px;
            }
            .price {
                &:not(.innerPrice) {
                    font-size: 20px;
                }
                &.cardPrice {
                    top: -5px;
                }
            }
        }
    }
    @media (min-width: 1800px) {
        &:not(.noProducts):not(.oneProduct) {
            grid-template-columns: repeat(3, 1fr);
            .productPic {
                max-height: 360px;
            }
        }
    }
    @media (max-width: 1300px) {
        &:not(.noProducts):not(.oneProduct) {
            .productPic {
                max-height: 360px;
            }
        }
    }
}

.card {
    margin: 0 auto;
    .cardTitle {
        top: -5px;
        font-size: 20px;
        position: relative;
    }
    .line {
        align-items: flex-start !important;
    }
}

.price {
    font-size: 19px;
    &.cardPrice {
        top: -1px;
        padding-left: 5px;
        position: relative;
        .dollar {
            top: -1px;
            padding-left: 5px;
        }
    }
    .dollar {
        font-weight: 900;
        position: relative;
        padding-right: 2px;
        color: var(--cwsGreen);
    }
}

.productDetails {
    height: 100%;
}

pre {
    height: 100%;
}

.productImageContainer {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    .lazy-load-image-loaded {
        align-items: center;
        justify-content: center;
        display: flex !important;
    }
    &:has(.productAltImage) {
        .productAltImage {
            transform: translate(-50%, -50%);
            position: absolute;
            opacity: 0;
            left: 50%;
            top: 50%;
        }
        &:hover {
            .productMainImage {
                opacity: 0;
            }
            .productAltImage {
                opacity: 1;
            }
        }
    }
}

.productPic {
    width: auto;
    height: auto;
    max-height: 365px;
    border-radius: 20px;
    margin: 0 auto 25px;
    transition: var(--transition);
}

.productDesc {
    width: 100%;
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bolder;
    padding: 0 5px 5px 0;
    justify-content: space-between;
    .productDescField {
        padding-bottom: 5px;
        border-bottom: solid 3px var(--cwsBlue);
    }
}

.floatingCat {
    left: 0%;
    top: -15%;
    width: 100%;
    max-width: 548px;
    position: absolute;
    transition: var(--transition);
    transition: 150ms ease-in-out;
    transform: translate(-50%, 0);
    animation: floatingCat 3s ease-in-out infinite;
}

.sectionContent {
    width: 95%;
    margin: 0 auto;
    // padding: 0 0 15px;
}

.productForm {
    @media (max-width: 1100px) {
        padding-bottom: 75px;
        display: flex !important;
        grid-gap: 5px !important;
        flex-direction: column !important;
        input, button {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
    input, textarea {
        width: 100%;
        min-height: 32px;
        font-weight: 600;
        border-radius: 6px;
        padding: 5px 0 5px 10px;
        background: white !important;
        border: 2px solid var(--cwsNavy);
        color: var(--cwsNavy) !important;
        &.productTitle {
            max-width: 200px;
        }
        &.productCategory {
            max-width: 225px;
        }
        &.productPrice {
            max-width: 85px;
        }
        &.productQuantity {
            max-width: 95px;
        }
        &::placeholder {
            color: darkslategray;
            // color: var(--cwsNavy);
        }
    }
    .productFormSubmitButton {
        color: white;
        min-height: 30px;
        max-height: 30px;
        padding: 0px 10px;
        border-radius: 6px;
        background: var(--cwsBlue);
        transition: var(--transition);
        &.productFormCancelButton {
            background: white;
            color: darkslategray;
            i {
                @extend .red;
            }
            &:active {
                background: gray;
            }
        }
        &:hover {
            @extend .pinkBg;
            i {
                @extend .lightgreen;
            }
            &.productFormCancelButton {
                color: black;
                @extend .peachBg;
            }
        }
    }
}

.nx-mt-16 {
    margin: 0;
    display: none;
}

.disabled {
    opacity: 0.65;
    pointer-events: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinThis {
    animation: spin 1s linear infinite;
}

// Media Queries
// Mobile Responsiveness
@media (max-width: 1150px) {
    .floatingCat {
      opacity: 0;
      pointer-events: none;
    }
}

@media (max-width: 1100px) {
    .floatingCat {
        animation: none;
        display: none !important;
    }
}

@media (max-width: 1050px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 992px) {
    .shopTitle {
        font-size: 35px;
    }
    .shopSubtitle {
        font-size: 25px;
        margin-bottom: 35px;
    }
    .subtitle {
        font-size: 22px !important;
    }
    .pageContentContainer {
        p {
            font-size: 18px;
        }
    }
    .card {
        &.cardWider {
            padding: 50px 20px;
        }
    }
    .cards {
        &.noProducts, &.oneProduct {
            width: 100% !important;
        }
    }
    .toggleButtons {
        font-size: 12px;
    }
    .qtyButton {
        .optionText {
            font-size: 18px;
        }
    }
    .selectToggle {
        .selectText {
            font-size: 16px;
        }
    }
    footer {
        div {
            font-size: 14px;
            padding: 0 15px !important;
            &.right {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 768px) {
    .pageContentContainer {
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 600px) {
    .cwsMainBanner {
        .hero {
            background-position: 100% 100% !important;
            .heroContent .heroDesc {
                font-size: 16px;
            }
        }
        img {
            max-width: 95%;
        }
    }
    .heroTitleSubText {
        font-size: 30px !important;
    }
    .card {
        max-width: 90%;
    }
    .productDesc {
        display: none;
    }
}

@media (max-width: 480px) {
    .Toastify__toast-container {
        margin: 10px !important;
        width: 83dvw !important;
        .Toastify__toast {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 400px) {
    .card {
        max-width: 80%;
        .cardTitle {
            font-size: 16px;
            white-space: normal !important;
            .longTitle {
                max-width: 67% !important;
            }
        }
    }
    .productTitle {
        padding-left: 0;
        justify-content: center;
        i {
            display: none;
        }
    }
    .price {
        font-size: 14px;
        &.cardPrice {
            top: 1px;
        }
    }
    .heroContent {
        width: 85% !important;
    }
    .heroDescText {
        font-size: 14px;
    }
    .heroTitleSubText {
        font-size: 28px !important;
    }
    .product {
        padding: 15px 20px 20px;
    }
    .productCard {
        padding: 0;
    }
    .productIcon {
        font-size: 12px;
    }
    .productContent {
        font-size: 15px;
    }
    .productButtonText {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    .price {
        &.cardPrice {
            top: -1px;
        }
    }
    .heroTitleSubText {
        font-size: 25px !important;
    }
}

@media (max-width: 365px) {
    .heroDescText {
        font-size: 13px;
    }
    .heroTitleSubText {
        font-size: 26px !important;
        &.longTitleSubText {
            font-size: 22px !important;
        }
    }
    .longTitle {
        max-width: 57% !important;
    }
}

@media (max-width: 305px) {
    .userSignedIn .customUserSection .profileLink {
        font-size: 14px !important;
    }
    .productTitle {
        padding: 0 0 10px 5px;
    }
    .card {
        max-width: 85%;
        .cardTitle {
            font-size: 16px;
        }
    }
    .price {
        font-size: 14px;
    }
    .heroDescText {
        font-size: 12px;
        font-weight: 400;
    }
    .heroTitleSubText {
        font-size: 24px !important;
    }
    .productContent {
        font-size: 16px;
    }
    .productButtonText {
        font-size: 15px;
    }
    .productIcon {
        font-size: 13px;
    }
}
  
@keyframes floatingCat {
    0% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 50px);
    }
    100% {
      transform: translate(-50%, 0);
    }
}

.oflow {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    max-width: 75%;
    margin: 0;
    top: 7px;
    &.tflow100 {
      max-width: 100%;
    }
    &.tflow95 {
      max-width: 95%;
    }
    &.tflow65 {
      max-width: 65%;
    }
    &.tflow35 {
      max-width: 35%;
    }
    &.tFlowBlock {
      display: block;
      max-width: 139px;
    }
    &.tflowShowDots {
      overflow: visible;
      position: relative;
      &::after {
        content: "...";
        position: absolute;
        bottom: 10px;
        right: -20px;
        overflow: visible;
      }
    }
}