.contact {
    @extend .flex;
    span {
        &:has(.adjustOuterSpan) {
            @extend .flex;
            display: flex !important;
        }
    }
    .contactCardMainSide {
        @extend .flex;
        @extend .isColumn;
    }
    .contactText {
        text-align: center;
        padding-bottom: 5px;
    }
    @media (max-width: 1300px) {
        flex-direction: column;
        padding: 60px 0;
        .contactCardSidebar {
            display: none;
        }
    }
}

.contactForm {
    margin: 0 auto;
    width: 85% !important;
    padding: 30px 20px 20px !important;
    background: var(--cwsBluePinkT) !important;
}

.characterCounts {
    font-size: 12px;
    font-weight: 600;
}
  
.characterCount {
    transition: 150ms ease-in-out;
}
  
.characterCount.max {
    min-width: 75px;
}

.contactFormSubmitButton {
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: center;
    .textWithIcon {
        top: 2px;
        position: relative;
    }
}